.container {
  background-color: white;
  padding: 0;
  color: #848484;
  border: solid 1px;
}

.toolbar {
  background-color: #eee;
  padding: 0px 5px 0 0;
}

.toolbar button {
  margin-right: 1rem;
}

h2 {
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
  background-color: #f5f5f5;
  padding: 5px 10px;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
  padding: 7px 10px 4px;
  border-top: solid 1px;
  line-height: 1rem;
}

.DatoCMS-button svg {
  fill: #ed6b5e;
  margin-right: .5em;
}

ul li ul li ul {
  margin-bottom: 5px;
}

ul li ul li ul li {
  padding: 0 10px;
  cursor: move;
  border: solid 1px white;
  background-color: white;
}

ul li ul li ul li:hover {
  border: solid 1px #ddd;
}

.draggable{
  touch-action: none;
  user-select: none;
}

.dropzone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2px;
  border: 2px dotted white;
  transition: 0.3s;
}

.drop-active{
  border: 2px dotted #ed6b5e;
}

.can-drop{
  background-color: #ed6b5e;
  color: white;
}

.move-to-front{
  z-index: 100;
}

.form {
  display: flex;
  flex-direction: row;
}
